project:
  type: website
  output-dir: docs

website:
  title: "fdelaend.github.io"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - research-themes.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

